<h2>Import Essentials Package</h2>

In [15]:
import pandas as pd
from datetime import datetime
import numpy as np
import re

In [16]:


def find_duplicates(dataframe, columns_to_check):
    """
    Finds and returns duplicated values in specified columns along with their counts.
    
    Parameters:
    dataframe (pd.DataFrame): The DataFrame to check for duplicates.
    columns_to_check (list): List of column names to check for duplicates.
    
    Returns:
    pd.DataFrame: A DataFrame with duplicated values and their counts.
    """
    # Filter the DataFrame to include only rows that are duplicated based on the specified columns
    duplicates = dataframe[dataframe.duplicated(subset=columns_to_check, keep=False)]
    
    # Group by the specified columns and count occurrences
    duplicate_values = duplicates.groupby(columns_to_check).size().reset_index(name='count')
    
    return duplicate_values



def adjust_string_case(df):
    for col in df.columns:
        if df[col].dtype == 'object':  # Check if the column is of type object (which usually means strings)
            if 'club' not in col.lower():  # Exclude columns with 'club' in their name
                df[col] = df[col].str.title()
    return df



# Implementing the business logic for is_business_logic_valid
def validate_business_logic(row):
    # Check for Valid Referral Rewards - Condition 1
    if (row['referral_status'] == 'Berhasil' and 
        pd.notna(row['reward_value']) and row['reward_value'] > 0 and 
        pd.notna(row['transaction_id']) and 
        row['transaction_status'] == 'PAID' and 
        row['transaction_type'] == 'NEW' and 
        pd.notna(row['transaction_at']) and row['transaction_at'] > row['referral_at'] and 
        row['transaction_at'].month == row['referral_at'].month and 
        not row['is_deleted'] and 
        not row.get('referrer_membership_expired', False) and 
        row.get('reward_granted', False)):
        return True
    
    # Check for Valid Referral Rewards - Condition 2
    if (row['referral_status'] in ['Menunggu', 'Tidak Berhasil'] and 
        (pd.isna(row['reward_value']) or row['reward_value'] == 0)):
        return True

    # Check for Invalid Referral Rewards - Condition 1
    if (pd.notna(row['reward_value']) and row['reward_value'] > 0 and 
        row['referral_status'] != 'Berhasil'):
        return False
    
    # Check for Invalid Referral Rewards - Condition 2
    if (pd.notna(row['reward_value']) and row['reward_value'] > 0 and 
        pd.isna(row['transaction_id'])):
        return False
    
    # Check for Invalid Referral Rewards - Condition 3
    if ((pd.isna(row['reward_value']) or row['reward_value'] == 0) and 
        pd.notna(row['transaction_id']) and 
        row['transaction_status'] == 'PAID' and 
        pd.notna(row['transaction_at']) and row['transaction_at'] > row['referral_at']):
        return False
    
    # Check for Invalid Referral Rewards - Condition 4
    if (row['referral_status'] == 'Berhasil' and 
        (pd.isna(row['reward_value']) or row['reward_value'] == 0)):
        return False
    
    # Check for Invalid Referral Rewards - Condition 5
    if (pd.notna(row['transaction_at']) and 
        row['transaction_at'] < row['referral_at']):
        return False
    
    # If none of the conditions are met, return False by default
    return False

Data Loading

In [17]:

# fact table
user_referrals_df = pd.read_csv('data/user_referrals.csv')


# dimension table
user_referrals_status_df = pd.read_csv('data/user_referral_statuses.csv')
user_referral_logs_df = pd.read_csv('data/user_referral_logs.csv')
referral_rewards_df = pd.read_csv('data/referral_rewards.csv')
paid_transactions_df = pd.read_csv('data/paid_transactions.csv')
lead_log_df = pd.read_csv('data/lead_log.csv')
user_logs_df = pd.read_csv('data/user_logs.csv')

<h2> remove duplicated

lead log

In [18]:
# fix duplicated on lead logs 
# Sort by created_at and current_status to prioritize the latest status

print(find_duplicates(lead_log_df,['lead_id']))



df_sorted = lead_log_df.sort_values(by=['created_at','id'])



# Drop duplicates keeping the last occurrence
lead_log_df = lead_log_df.drop_duplicates(subset=['lead_id', 'created_at'], keep='last')

                            lead_id  count
0  08b8ab0371b6a0cb79319628505c446c      4

user log

In [19]:
print(find_duplicates(user_logs_df,['user_id']))
df_sorted = user_logs_df.sort_values(by=['user_id','membership_expired_date'])



# Drop duplicates keeping the last occurrence
user_logs_df = user_logs_df.drop_duplicates(subset=['user_id'], keep='first')

                            user_id  count
0  2c71c5d66c7e12a0b3c200ba6ed3b78e     13
1  4acfa96cb521b6963b50bcef95bee485      7
2  cadba628952bde1670ac4c0792afc28a      2
3  f2de40c8394f4ea9a6aa49965380dd8f      2

user referral log

In [20]:
print(find_duplicates(user_referral_logs_df,['user_referral_id']))
df_sorted = user_referral_logs_df.sort_values(by=['user_referral_id', 'created_at']).groupby('user_referral_id').first().reset_index()
# Drop duplicates keeping the last occurrence
user_referral_logs_df = user_referral_logs_df.drop_duplicates(subset=['user_referral_id'], keep='first')

                   user_referral_id  count
0  7a03e01e0c17b2322845242a796adb5e     19

<h2>Ganti semua timestamp seluruh table ke bentuk timezone wib "YYYY-MM-DD HH::MM::SS"</h2>

In [21]:
user_referral_logs_df['created_at'] = pd.to_datetime(user_referral_logs_df['created_at']).dt.tz_convert('Asia/Jakarta')
user_referral_logs_df['created_at'] = user_referral_logs_df['created_at'].dt.strftime('%Y-%m-%d %H:%M:%S')

user_logs_df['membership_expired_date'] = pd.to_datetime(user_logs_df['membership_expired_date'])
user_logs_df['membership_expired_date'] = user_logs_df['membership_expired_date'].dt.tz_localize('UTC')
user_logs_df['membership_expired_date'] = user_logs_df['membership_expired_date'].dt.tz_convert('Asia/Jakarta')
user_logs_df['membership_expired_date'] = user_logs_df['membership_expired_date'].dt.strftime('%Y-%m-%d %H:%M:%S')


lead_log_df['created_at'] = pd.to_datetime(lead_log_df['created_at']).dt.tz_convert('Asia/Jakarta')
lead_log_df['created_at'] = lead_log_df['created_at'].dt.strftime('%Y-%m-%d %H:%M:%S')


user_referrals_df['updated_at'] = pd.to_datetime(user_referrals_df['updated_at']).dt.tz_convert('Asia/Jakarta')
user_referrals_df['updated_at'] = user_referrals_df['updated_at'].dt.strftime('%Y-%m-%d %H:%M:%S')


paid_transactions_df['transaction_at'] = pd.to_datetime(paid_transactions_df['transaction_at']).dt.tz_convert('Asia/Jakarta')
paid_transactions_df['transaction_at'] = paid_transactions_df['transaction_at'].dt.strftime('%Y-%m-%d %H:%M:%S')


referral_rewards_df['created_at'] = pd.to_datetime(referral_rewards_df['created_at']).dt.tz_convert('Asia/Jakarta')
referral_rewards_df['created_at'] = referral_rewards_df['created_at'].dt.strftime('%Y-%m-%d %H:%M:%S')


user_referrals_status_df['created_at'] = pd.to_datetime(user_referrals_status_df['created_at']).dt.tz_convert('Asia/Jakarta')
user_referrals_status_df['created_at'] = user_referrals_status_df['created_at'].dt.strftime('%Y-%m-%d %H:%M:%S')

handle null fits then join and then String Adjustment: Initcap should apply in string value, unless the club name.
○ Source Category: Determine referral_source_category

In [22]:
fact_table = user_referrals_df.copy()

# Step 1: Drop rows where referrer_id is NaN
#fact_table = fact_table.dropna(subset=['referrer_id','transaction_id'])



# Step 3: Replace NaN in referral_reward_id with 0
#fact_table['referral_reward_id'] = fact_table['referral_reward_id'].fillna(0)




# fact_table = fact_table.merge(user_referral_logs_df, left_on='referral_id', right_on='user_referral_id', how='left')
# fact_table = fact_table.merge(lead_log_df, left_on='referee_id', right_on='lead_id', how='left')
# fact_table = fact_table.merge(referral_rewards_df, left_on='referral_reward_id', right_on='id', how='left')
# fact_table = fact_table.merge(user_logs_df, left_on='referrer_id', right_on='user_id', how='left')
# fact_table = fact_table.merge(paid_transactions_df, left_on='transaction_id', right_on='transaction_id', how='left')
# fact_table = fact_table.merge(user_referrals_status_df, left_on='user_referral_status_id', right_on='id', how='left')

fact_table = fact_table.merge(user_referral_logs_df, left_on='referral_id', right_on='user_referral_id', how='left')
fact_table = fact_table.merge(lead_log_df, left_on='referee_id', right_on='lead_id', how='left')
fact_table = fact_table.merge(referral_rewards_df, left_on='referral_reward_id', right_on='id', how='left')
fact_table = fact_table.merge(user_logs_df, left_on='referrer_id', right_on='user_id', how='left', suffixes=('_referrer', '_userlog'))
fact_table = fact_table.merge(paid_transactions_df, left_on='transaction_id', right_on='transaction_id', how='left')
fact_table = fact_table.merge(user_referrals_status_df, left_on='user_referral_status_id', right_on='id', how='left', suffixes=('_refstatus', '_status'))








fact_table= fact_table.rename(columns={'description':'referral_status'})


# Determine referral_source_category
fact_table['referral_source_category'] = fact_table.apply(
    lambda row: 'Online' if row['referral_source'] == 'User Sign Up' else (
        'Offline' if row['referral_source'] == 'Draft Transaction' else row['source_category']
    ), axis=1
)


fact_table['reward_value'] = fact_table['reward_value'].apply(lambda x: np.nan if pd.isna(x) else int(''.join(re.findall(r'\d+', str(x)))) if re.findall(r'\d+', str(x)) else np.nan)


#merged_data = adjust_string_case(fact_table)

/Users/hypefast/opt/anaconda3/envs/old/lib/python3.9/site-packages/pandas/core/reshape/merge.py:1204: RuntimeWarning: invalid value encountered in cast
  if not (lk == lk.astype(rk.dtype))[~np.isnan(lk)].all():

In [24]:
fact_table

,referral_at,referral_id,referee_id,referee_name,referee_phone,referral_reward_id,referral_source,referrer_id,transaction_id,updated_at,...,is_deleted,transaction_status,transaction_at,transaction_location,timezone_transaction,transaction_type,id,referral_status,created_at_status,referral_source_category
0,2024-05-01T05:17:31Z,9331c8f144dad5a3b8e4a10467b4343a,f1327c9d6d4efee6ad69e7e467b605b9,NaN,5ba638fed7578e677c7600f1038f1b77,NaN,Draft Transaction,2c71c5d66c7e12a0b3c200ba6ed3b78e,bc3a22d1b0c651d0c807a9bdaed08e8d,2024-05-01 12:17:31,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
1,2024-04-22T15:04:57Z,6371079a92bcbf0c16ae5fcdf4fc9c10,12dd343d282fb7915f55982937c30b87,8ef43a9189c084778dadf266d6ee6071,ce52ad7070f305b43a784b8503dbde13,NaN,User Sign Up,2c71c5d66c7e12a0b3c200ba6ed3b78e,4c8cae052f19cea66544affc759b76ee,2024-04-29 11:04:15,...,False,NaN,NaN,NaN,NaN,NaN,2,Berhasil,2024-03-08 17:07:10,Online
2,2024-05-02T14:10:16Z,a49105b02e690472452527663559d97a,f6507a982bde1dcda0ce0867ceac66f6,fa8e148b928aac56782d5c50042aee7b,74d8b76d490b094ba0cc7f144ed16cf5,NaN,Draft Transaction,NaN,91263eaf2af17ac140c6fc23a68882d3,2024-05-02 21:10:29,...,NaN,PAID,2024-05-02 21:10:16,GREENVILLE,Asia/Jakarta,NEW,3,Tidak Berhasil,2024-03-08 17:07:10,Offline
3,2024-04-18T03:56:22Z,fcb804c8ff24e5b2974a7e965ebea5e8,919b89759e569c5f1bdfc45ba1872d6f,4f5649d2d7b3ee9406436f026094c1fe,ce52ad7070f305b43a784b8503dbde13,NaN,User Sign Up,2c71c5d66c7e12a0b3c200ba6ed3b78e,NaN,2024-05-01 09:58:58,...,False,NaN,NaN,NaN,NaN,NaN,2,Berhasil,2024-03-08 17:07:10,Online
4,2024-05-14T06:17:03Z,9e9324e6fde29bb0d230654b38ccfdd4,d1b90f8e27b5ec0d37f180aed67d76b4,2e68f7f5c8854bd2cf2b5ff55bc7e780,321b0102e766ef73b63d1bd797203c02,2.0,Draft Transaction,f2de40c8394f4ea9a6aa49965380dd8f,e05121ea99fed4f4c5224a4667bb3dad,2024-05-14 13:17:34,...,False,PAID,2024-05-14 13:17:03,ADITYAWARMAN,Asia/Jakarta,NEW,2,Berhasil,2024-03-08 17:07:10,Offline
5,2024-05-22T09:03:10Z,b6732d2ca0bc7acbc1b39cb8a04a96cd,8cba435bca358b92462a30bc999598bf,2c44e14b1d36c87097edaf78e3110392,41440157b33b9eff6c7054134a613fc0,NaN,Lead,4acfa96cb521b6963b50bcef95bee485,NaN,2024-05-22 16:03:10,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,NaN
6,2024-05-13T10:23:46Z,835e990334fe52dec832043f19ddfd07,a2f1c1a62e161b8fe76498b3936d8afa,b2b3dd66bfbbfb5154c3d6287784d0c8,3c46036fcb646a14fdd6d352d2a2eafe,1.0,Draft Transaction,f2de40c8394f4ea9a6aa49965380dd8f,f192fca27d438c053db425fade152d66,2024-05-14 13:08:29,...,False,PAID,2024-05-13 17:23:46,ADITYAWARMAN,Asia/Jakarta,NEW,2,Berhasil,2024-03-08 17:07:10,Offline
7,2024-05-02T14:06:39Z,6667436490ad3c794a8f5127772d4810,38ebaae9d064d2aa29f466bdbcf9a5b2,1f927e963a35a52a8462c80214672ad0,89900ba36a8f1ff3b02163eb3ef88861,NaN,Draft Transaction,NaN,07f21743663aacb7d212c286d47a14de,2024-05-02 21:06:56,...,NaN,PAID,2024-05-02 21:06:39,BENHIL,Asia/Jakarta,NEW,3,Tidak Berhasil,2024-03-08 17:07:10,Offline
8,2024-03-20T07:48:49Z,d452feec722a5cabc03645bb089e2735,08b8ab0371b6a0cb79319628505c446c,360701f01f783634925ce89e59decc37,ce52ad7070f305b43a784b8503dbde13,1.0,Lead,cbac8ed440d53d1c6c187874c4193db2,7709d17eaec03665f58904b72c8ab444,2024-05-01 09:58:57,...,NaN,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Online
9,2024-05-21T09:47:11Z,a95d6a6cefee850333bb2df257cb2f79,d0f7a95f117a5b084ea18a2fcdeb543e,aeed83f1695c48689484dccb42ad29b9,7e5a9e249a06af8dc5440331aa37b878,1.0,Draft Transaction,ac7437a85f72bcef29088bf148e05eb7,0ad3f929bef2f8177db401bba99a6692,2024-05-21 16:49:45,...,False,PAID,2024-05-21 16:47:11,ADITYAWARMAN,Asia/Jakarta,NEW,2,Berhasil,2024-03-08 17:07:10,Offline
10,2024-05-02T14:59:57Z,6a585aa172036ab3cda99023016c7bff,70a65c322094af912c370e526613fcfb,7de37c0e1723485c6f026538f740f5d7,ae017c4d343322cf6f38db88e437c8bf,NaN,Draft Transaction,NaN,d3d0530307725b26e4bac8d6ec2072d8,2024-05-02 22:00:14,...,NaN,PAID,2024-05-02 21:59:57,GREENVILLE,Asia/Jakarta,REJOIN,3,Tidak Berhasil,2024-03-08 17:07:10,Offline
11,2024-03-08T11:31:24Z,678d8990730250f8001c25a7da8f05d4,c6fb4aa67eba0ed851ac4182abe26127,ad11a4f658fe00796777e23b82cabbac,ce52ad7070f305b43a784b8503dbde13,NaN,User Sign Up,93128ee70cc2e95bc632eb73f472213d,7709d17eaec03665f58904b72c8ab444,2024-05-01 09:58:58,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Online
12,2024-05-03T02:00:59Z,1f44ffca9257eefe62892409bce4b704,9fb1542469c6ae6c5378727d8c0bdf21,95d3b38fb5731f964da5069450f4f7ca,bef61cb420d10e853913569fc96ab9ec,NaN,Draft Transaction,NaN,bd02c54aeca60d0e82f784be0ad4c84d,2024-05-03 09:00:59,...,NaN,PAID,2024-05-03 09:00:59,BENHIL,Asia/Jakarta,NEW,1,Menunggu,2024-03-08 15:49:37,Offline
13,2024-05-22T08:47:24Z,7bf019d6eec0fc5f6485fb4d1968fe80,b64ce1531c508d3090a76ae678647f20,c315681adbaee59c3c0e945ed9436173,7f2786e2875779cc5279bf6d834c862c,NaN,Lead,4acfa96cb521b6963b50bcef95bee485,NaN,2024-05-22 15:47:24,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,NaN
14,2024-04-30T13:54:15Z,d0c11363fa2754323ed04ddbd0681bfb,c8c0461f1332b25809ff6ae01444d7f5,c315681adbaee59c3c0e945ed9436173,c72ff35974713260b8153d81c84b3fa5,NaN,User Sign Up,4acfa96cb521b6963b50bcef95bee485,da0071e2bb7794ac19ff4dbbb6e772f0,2024-05-23 12:33:24,...,False,NaN,NaN,NaN,NaN,NaN,3,Tidak Berhasil,2024-03-08 17:07:10,Online
15,2024-05-10T17:13:57Z,41b807ac2774a0a29be25266d73fcf8b,0efd457fd172aef584656e7a56d7c1bf,069396bf68713451107ed621971b8fd3,c72ff35974713260b8153d81c84b3fa5,NaN,Draft Transaction,4acfa96cb521b6963b50bcef95bee485,da0071e2bb7794ac19ff4dbbb6e772f0,2024-05-23 12:32:21,...,False,NaN,NaN,NaN,NaN,NaN,3,Tidak Berhasil,2024-03-08 17:07:10,Offline
16,2024-05-02T07:53:43Z,2751eafffb38a7baf6c35f8bfb5e58e8,ba4030331004896beb5549fb7d57ce14,844c8967cbe2e87f52a23d774daa8ea9,0520c1cc85cbd43be086d6067e316e39,NaN,Draft Transaction,NaN,8623f36f36e709fbefe43defcac59583,2024-05-02 14:53:43,...,NaN,PAID,2024-05-02 14:53:43,ARTERI PONDOK INDAH,Asia/Jakarta,NEW,1,Menunggu,2024-03-08 15:49:37,Offline
17,2024-05-10T04:16:29Z,2d07be15757d1ea6d85b96f4d46c4a37,bbd3c7b2448041dc5339b23878cacd79,efd4849c38c28fe336382a1d244b9042,3b3d9a726e5dacd9315bbca8d754b8e5,NaN,Lead,cadba628952bde1670ac4c0792afc28a,NaN,2024-05-10 11:16:29,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Online
18,2024-05-22T07:24:50Z,d47843579ed8d4696b0abfbed179320f,109b6bf8d2664e5c4a165515aeb30a54,feb4d885f99957d87b2e8eb1fd05b193,e9d0dac01b424c1c8f54140e4fe73951,NaN,Draft Transaction,d0a0d9ca8dc4f47226a8afd32ee2a848,518f2f962f004659394aebd7344569dc,2024-05-22 14:24:50,...,True,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
19,2024-05-06T08:02:16Z,90abb7a3fab6efe0f5017b11df3c2ffc,a90dcb9c1fc9c63f1e2dc7dbd79ecfd2,d1281ff14d6b879cfdc35b35aa4e0e48,51249abf6bb88596d2a1757b1e258114,NaN,Lead,2c71c5d66c7e12a0b3c200ba6ed3b78e,NaN,2024-05-06 15:02:16,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
20,2024-05-13T06:38:59Z,251cb17f5a0a266d4eec7f3f478ad245,774656feb3119be1d8d6d893429c7cc0,4bbc7361bafa86ca236399f1029f537f,ca4712fd139cd74c83b5f4f43dc6cc4c,NaN,Lead,4acfa96cb521b6963b50bcef95bee485,NaN,2024-05-13 13:38:59,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Online
21,2024-05-02T06:34:13Z,79096365084a0d3f51ad9a0725f6708f,cdd490a959231b4f9014cc18f737a300,33dd367575080deb3b474d5b9caab5be,9111714a748c4740549dd03faab253b6,NaN,Draft Transaction,NaN,NaN,2024-05-02 13:52:24,...,NaN,NaN,NaN,NaN,NaN,NaN,3,Tidak Berhasil,2024-03-08 17:07:10,Offline
22,2024-05-13T06:31:40Z,61717d106753428549731b63554d70a5,c50f607bbae83f7c53551476e11997eb,0a151f113d078794bae1b6b2d0e432c4,c72ff35974713260b8153d81c84b3fa5,1.0,Lead,4acfa96cb521b6963b50bcef95bee485,da0071e2bb7794ac19ff4dbbb6e772f0,2024-05-23 12:32:21,...,False,NaN,NaN,NaN,NaN,NaN,3,Tidak Berhasil,2024-03-08 17:07:10,Online
23,2024-05-01T05:22:16Z,3c2d868e7310b1690f1e7429d04b4c6b,09761f520c39620c1fc95b31d2a3047d,NaN,c18ea4431f5922a2e02ae7be2e144117,1.0,Draft Transaction,2c71c5d66c7e12a0b3c200ba6ed3b78e,e283b54d76844faaa985f83b037de8a2,2024-05-01 12:36:23,...,False,NaN,NaN,NaN,NaN,NaN,2,Berhasil,2024-03-08 17:07:10,Offline
24,2024-05-16T04:52:59Z,bfdc4ba9d1e89cd5f19ed6d239b7b06a,NaN,aeed83f1695c48689484dccb42ad29b9,ff6a10e68ce4c4a56e3c19238619f828,NaN,Draft Transaction,NaN,c8d6bb873db3478e39a43260a0bbac1a,2024-05-16 11:52:59,...,NaN,PAID,2024-05-16 11:52:46,ADITYAWARMAN,Asia/Jakarta,NEW,1,Menunggu,2024-03-08 15:49:37,Offline
25,2024-04-16T07:09:25Z,30a0cdbe9f518b9938bf9b9399f8b048,08b8ab0371b6a0cb79319628505c446c,360701f01f783634925ce89e59decc37,ce52ad7070f305b43a784b8503dbde13,NaN,Lead,b755269324c62c3a6b0bb6568f5d4d26,4c8cae052f19cea66544affc759b76ee,2024-05-01 09:58:57,...,NaN,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Online
26,2024-05-20T04:23:21Z,b7056002e75cd4b2583d8e8ee401e230,NaN,4047562b1948651542ca4ed2b3ba8a14,9680f518ed4e6a99f5b90c1e17b63a56,NaN,Draft Transaction,NaN,93d48d85048e102d32d02df43138d283,2024-05-20 11:23:21,...,NaN,PAID,2024-05-20 11:23:09,ARTERI PONDOK INDAH,Asia/Jakarta,NEW,1,Menunggu,2024-03-08 15:49:37,Offline
27,2024-05-02T04:49:01Z,3c2d4fcbb8d1bf5e82407fbae76b9917,ee6570190f4a18fe1d9646d2ab037bbf,814080a639a94b49651cbbc841653a68,98045ca3dd2103829b499475c961dd59,NaN,Draft Transaction,NaN,1d1eb8a9e864a1cccb2d850398461807,2024-05-02 11:49:01,...,NaN,PAID,2024-05-02 11:49:01,ARTERI PONDOK INDAH,Asia/Jakarta,NEW,1,Menunggu,2024-03-08 15:49:37,Offline
28,2024-03-20T07:49:17Z,8882f8f02e658bd06627f9e0aedf9325,08b8ab0371b6a0cb79319628505c446c,360701f01f783634925ce89e59decc37,ce52ad7070f305b43a784b8503dbde13,2.0,Lead,2c71c5d66c7e12a0b3c200ba6ed3b78e,NaN,2024-05-01 09:58:58,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Online
29,2024-05-01T05:07:31Z,e066aaa1b0384cd538e5590be41ce325,54b4ac2d01dbb7d14c788e47a501bcf0,NaN,5ba638fed7578e677c7600f1038f1b77,NaN,Draft Transaction,2c71c5d66c7e12a0b3c200ba6ed3b78e,e42431bb123d41cbedc3e796cbdcd985,2024-05-01 12:07:31,...,False,PAID,2024-05-01 12:07:30,SUNSET ROAD,Asia/Makassar,NEW,1,Menunggu,2024-03-08 15:49:37,Offline
30,2024-05-24T04:57:33Z,ca06593605d62bc27dacb93533278f44,04aec3adea13099cb24c4cc784f05f3d,f253ae67d684e206819334deb74d4c38,bb7e63d99dd0592baa702b4cb5713187,NaN,Lead,1eab0611433407d851896635a5b735f5,NaN,2024-05-24 11:57:33,...,NaN,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,NaN
31,2024-04-23T04:55:40Z,70ab7f982d360286a79c8a3050f5506d,08b8ab0371b6a0cb79319628505c446c,8ef43a9189c084778dadf266d6ee6071,ce52ad7070f305b43a784b8503dbde13,NaN,Lead,2bab9f04bacea881a9e796136ac186da,NaN,2024-05-01 09:58:57,...,NaN,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Online
32,2024-05-02T13:46:38Z,24a62000845ed37ef32e5f5b697480c1,773c666a2c42dab86c86fb6aacddf07c,67ac22f8ac36457fe25ce9b1d7d99103,8d45f1c21bfd88008f8cc15e42313401,NaN,Draft Transaction,NaN,09b9ee18ba1969f7ce8d23546ae09555,2024-05-02 20:46:57,...,NaN,PAID,2024-05-02 20:46:38,GREENVILLE,Asia/Jakarta,NEW,3,Tidak Berhasil,2024-03-08 17:07:10,Offline
33,2024-04-22T15:04:57Z,7a03e01e0c17b2322845242a796adb5e,12dd343d282fb7915f55982937c30b87,8ef43a9189c084778dadf266d6ee6071,ce52ad7070f305b43a784b8503dbde13,3.0,User Sign Up,2c71c5d66c7e12a0b3c200ba6ed3b78e,4c8cae052f19cea66544affc759b76ee,2024-04-30 09:42:30,...,False,NaN,NaN,NaN,NaN,NaN,2,Berhasil,2024-03-08 17:07:10,Online
34,2024-05-05T12:03:23Z,636f4143f3bbe2a832d3f8e3c7b7d848,eb9e25fa99d54d67c6b22ee8bc1df10c,4f5649d2d7b3ee9406436f026094c1fe,881fb2c28d8cd331725917358f54f8ab,NaN,User Sign Up,2c71c5d66c7e12a0b3c200ba6ed3b78e,NaN,2024-05-05 19:03:23,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Online
35,2024-04-23T04:55:40Z,e6d2c72313e5d1a77ab02e20e3ba4ecb,12dd343d282fb7915f55982937c30b87,2eb4b6e1ee9574c9e4a5f7e7e9b09280,ce52ad7070f305b43a784b8503dbde13,NaN,Draft Transaction,2c71c5d66c7e12a0b3c200ba6ed3b78e,4c8cae052f19cea66544affc759b76ee,2024-05-01 10:19:46,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
36,2024-05-22T08:40:10Z,9aa929850a37a7071f8ea0cd62fcfb07,4c887ed9cd914a3400e5a2eebd8934f3,913300a437067f09e43016ab5fa3ee6a,5bb03665e3d31d756b7bc915f187dd98,NaN,Draft Transaction,4acfa96cb521b6963b50bcef95bee485,b6ba055845543f4a4d86a6c6948089be,2024-05-22 15:40:10,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
37,2024-05-06T08:09:35Z,4df44c256adf2c9cbb3655104f8dc395,438a8b26ee11aa32b87d2d34b1cbcd09,2a97fa37a70a0be17f2883af9fd3917e,5ba638fed7578e677c7600f1038f1b77,NaN,Draft Transaction,2c71c5d66c7e12a0b3c200ba6ed3b78e,db79cbba0d2845aa61519f43bb7e51fb,2024-05-06 15:09:35,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
38,2024-05-13T04:11:39Z,e3a55877243e31f6196748c21f7e2982,a0a8f598a579d59b0e7968b26ddb73a5,c7227da53187dac1237cc1abcd0af9bb,9c29e785a9fadbb9c13e8ab7dce211a5,NaN,Draft Transaction,8575e4f470c06e133f95c4be9aa13934,73f8158ade927532c4d27340867fb58f,2024-05-13 11:11:39,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
39,2024-05-22T02:22:58Z,24e66dee053da38b3a19bfb9e91e8faf,NaN,3125178b32128e0fcc187d17e6da2253,81763cd10d19e5c468565ff450527734,NaN,Draft Transaction,NaN,dbb15373cbcc1aae8aebca324022380d,2024-05-22 09:22:58,...,NaN,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
40,2024-05-02T08:21:11Z,c848ba4844ae65f2420d373efc5908c9,96594c1dc81ecf6df675e881f69887ee,e633e2a86bd04e4467604ff69d086dee,4b0b16d452448843a687df36320a0f75,NaN,Draft Transaction,NaN,f0919740b10749ae99ead8790610b828,2024-05-06 11:20:42,...,NaN,NaN,NaN,NaN,NaN,NaN,3,Tidak Berhasil,2024-03-08 17:07:10,Offline
41,2024-03-14T08:56:33Z,e4b21d1dcdb37955b9e46b9357c7d0fe,c6fb4aa67eba0ed851ac4182abe26127,4f5649d2d7b3ee9406436f026094c1fe,ce52ad7070f305b43a784b8503dbde13,NaN,User Sign Up,2c71c5d66c7e12a0b3c200ba6ed3b78e,NaN,2024-05-01 09:58:58,...,False,NaN,NaN,NaN,NaN,NaN,2,Berhasil,2024-03-08 17:07:10,Online
42,2024-05-10T07:08:12Z,e74f3e7cae96a2c81a7970ec3a8ccb82,e04c6b50af7c034b0b48b4afdde0e2c9,ebcfefbb3dce469aafc0e65b8120a29d,f95764a14ff8b55268fa0b89f151b5d0,NaN,User Sign Up,2c71c5d66c7e12a0b3c200ba6ed3b78e,NaN,2024-05-10 14:08:12,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Online
43,2024-05-13T03:30:51Z,962788593e04380982da789b978dcad6,4f0595d6c1e4da52bcd4af627e89f0f8,422005a39b6749f8a7f704fc62e2890d,6868015ee627081d0ec2e58f8c08ed45,NaN,Draft Transaction,cadba628952bde1670ac4c0792afc28a,3976319532e4346ed060a48ed94f77c7,2024-05-13 10:30:51,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
44,2024-05-13T09:47:45Z,274ef52f2f70dbb3afa5c94bcbff41cb,0c20fa7d62f00a047c3c0b0e9abfa4b5,3312d5d62e3ce32c3ce199c52d43eb85,0973f2b609f2d8e82207b0a8f802836c,NaN,Draft Transaction,192befbbd8b97260e28db080a661578c,0fc3fb996325ee9e25e5c38a28393d65,2024-05-13 16:47:45,...,False,NaN,NaN,NaN,NaN,NaN,1,Menunggu,2024-03-08 15:49:37,Offline
45,2024-05-02T04:19:27Z,c98844d50327681160b17baa8756984a,782764b5d010acca46dd3abf5d56e6cf,1f8ddb2ec45e1698e8b9a7516dc4dc69,d2c7bbb4e088e23e6612c0f2a95e022b,NaN,Draft Transaction,NaN,62afd56341d234457415c97c9c866aa9,2024-05-02 11:19:27,...,NaN,PAID,2024-05-02 11:19:27,MAMPANG,Asia/Jakarta,NEW,1,Menunggu,2024-03-08 15:49:37,Offline

In [11]:
# fact_table['referral_at'] = pd.to_datetime(fact_table['referral_at'])
# fact_table['transaction_at'] = pd.to_datetime(fact_table['transaction_at'])

fact_table['is_business_logic_valid'] = fact_table.apply(validate_business_logic, axis=1)

In [27]:
fact_table.to_csv('sample_data.csv',index=False)

In [14]:
reward_granted_at

Index(['referral_at', 'referral_id', 'referee_id', 'referee_name',
       'referee_phone', 'referral_reward_id', 'referral_source', 'referrer_id',
       'transaction_id', 'updated_at', 'user_referral_status_id', 'id_x',
       'user_referral_id', 'source_transaction_id', 'created_at_x',
       'is_reward_granted', 'id_y', 'lead_id', 'source_category',
       'created_at_y', 'preferred_location', 'timezone_location',
       'current_status', 'id_referrer', 'reward_value', 'created_at_refstatus',
       'reward_type', 'id_userlog', 'user_id', 'name', 'phone_number',
       'homeclub', 'timezone_homeclub', 'membership_expired_date',
       'is_deleted', 'transaction_status', 'transaction_at',
       'transaction_location', 'timezone_transaction', 'transaction_type',
       'id', 'referral_status', 'created_at_status',
       'referral_source_category', 'is_business_logic_valid'],
      dtype='object')

In [ ]:
Index(['referral_at', 'referral_id', 'referee_id', 'referee_name',
       'referee_phone', 'referral_reward_id', 'referral_source', 'referrer_id',
       'transaction_id', 'updated_at', 'user_referral_status_id', 'id',
       'user_referral_id', 'source_transaction_id', 'created_at',
       'is_reward_granted', 'id', 'lead_id', 'source_category', 'created_at',
       'preferred_location', 'timezone_location', 'current_status', 'id',
       'reward_value', 'created_at', 'reward_type', 'id', 'user_id', 'name',
       'phone_number', 'homeclub', 'timezone_homeclub',
       'membership_expired_date', 'is_deleted', 'transaction_id',
       'transaction_status', 'transaction_at', 'transaction_location',
       'timezone_transaction', 'transaction_type', 'id', 'referral_status',
       'created_at', 'referral_source_category'],
      dtype='object')




ndex(['referral_at', 'referral_id', 'referee_id', 'referee_name',
       'referee_phone', 'referral_reward_id', 'referral_source', 'referrer_id',
       'transaction_id', 'updated_at', 'user_referral_status_id', 'id_x',
       'user_referral_id', 'source_transaction_id', 'created_at_x',
       'is_reward_granted', 'id_y', 'lead_id', 'source_category',
       'created_at_y', 'preferred_location', 'timezone_location',
       'current_status', 'id_referrer', 'reward_value', 'created_at_refstatus',
       'reward_type', 'id_userlog', 'user_id', 'name', 'phone_number',
       'homeclub', 'timezone_homeclub', 'membership_expired_date',
       'is_deleted', 'transaction_status', 'transaction_at',
       'transaction_location', 'timezone_transaction', 'transaction_type',
       'id', 'referral_status', 'created_at_status',
       'referral_source_category', 'is_business_logic_valid'],
      dtype='object')